.GRID {  display: grid;
   grid-template-columns: 29% 49% 19%;
   grid-template-rows: auto auto auto;
   gap: 1% 1%;
   grid-auto-flow: column;
   justify-content: stretch;
   align-content: stretch;
   justify-items: stretch;
   align-items: stretch;
   grid-template-areas:
     "UL UC UR"
     "ML MC MR"
     "BL BC BR";
 }
 
 .UL { grid-area: UL; 
   background-color: aqua;
}
 .UR { grid-area: UR; 
   background-color: blue;
} 
 .ML { grid-area: ML; 
   background-color: blueviolet;
} 
 .UC { grid-area: UC; 
   background-color: brown;
} 
 .MC { grid-area: MC; 
   background-color: chartreuse;
} 
 .MR { grid-area: MR; 
   background-color: coral;
} 
 .BL { grid-area: BL;
   background-color: darkcyan;
} 
 .BC { grid-area: BC; 
   background-color: darkgreen;
} 
 .BR { grid-area: BR; 
   background-color: orangered;
}
 