
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@700&family=Play:wght@700&display=swap');

.GRID {  display: grid;
   grid-template-columns: 29% 49% 19%;
   grid-template-rows: auto auto auto;
   gap: 1% 1%;
   grid-auto-flow: column;
   justify-content: stretch;
   align-content: stretch;
   justify-items: stretch;
   align-items: stretch;
   grid-template-areas:
     "UL UC UR"
     "ML MC MR"
     "BL BC BR";
 }
 
 #LOGO {
  font-family: 'Play', sans-serif;
  font-size: 40px;
}
 .UL { grid-area: UL; 
   background-color: rgb(125, 224, 224);
}
 .UR { grid-area: UR; 
   background-color: rgb(131, 131, 240);
} 
 .ML { grid-area: ML; 
   background-color: rgb(138, 97, 175);
} 
 .UC { grid-area: UC; 
   background-color: rgb(248, 169, 169);
} 
 .MC { grid-area: MC; 
   background-color: rgb(187, 248, 126);
} 
 .MR { grid-area: MR; 
   background-color: coral;
} 
 .BL { grid-area: BL;
   background-color: rgb(23, 230, 230);
} 
 .BC { grid-area: BC; 
   background-color: rgb(79, 241, 79);
} 
 .BR { grid-area: BR; 
   background-color: rgb(253, 124, 77);
}
a :link {
   decoration: none;
   /*remover a linha acima (decoration none)*/
}
a :visited {
}
a :hover {
}
a :active {
}
